pandas==1.5.3
matplotlib
mlflow==2.10.2 
sqlalchemy==1.4.48
scikit-learn
requests

import warnings
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
!pip install mlflow
import mlflow

pip install lazypredict

import lazypredict